<div class="container">
  <div class="row">
    <div class="col-lg-12 row justify-content-center">
      <span class="title">のんべえくんの利用について
      <h2 class="text-center">利用規約</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-12 row justify-content-center">
      <p>この規約は、「のんべえくん」サービス（以下「本サービス」）をご利用頂く際につき定めるものです。
      <p>本規約に同意した上で本サービスをご利用ください。
 　</div>
  </div>
</div>
