<div class="container">
  <div class="row">
    <div class="col-lg-12">
      </div>
      <%= params[:prefecture_name] %>
        <% @prefecture.cities.each do |city| %>
          <%= link_to  home_sakagura_path(city_id: city.id) do%>
            <%= city.name %>
          <% end %>
        <% end %>
      <%# end %>
    </div>
  </div>
</div>
