<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%#= @.prefecture.name %>
      <% @sakagura.each do |sakagura| %>
        <%= link_to sakagura.url do %>  <%#@sakaguraのなかにurlのカラムがはいっていて link_toでgoogleにせんいできるようにしたい%>
          <%= sakagura.name %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>