<div class="container">
  <%= render 'homes/search', menber:@menber, post:@post, tag:@tag %>  <%#  部分テンプレート  render 'homes/search'～  homes/_search  _は勝手に消してくれる%>
  <h3 class="title">最新の投稿</h3>
  <div class="row">
  
    <% @posts.each do |post| %>
      <% if post.post_images.exists? %>
      <%# exists? 存在するかどうかを真偽値で返すメソッド(存在すればtrueを存在しなければfalse)%>
        <% post_image = post.post_images.first %>   <%# .first ~％の一番最初のものを持ってくる%>
         <div class="col-12-flex flex-lg-wrap">  <%# col-x-flex flex-lg-wrap  => 折返しをすることができる%>
          <%= link_to post_path(post_image), class: 'list-content' do %>
            <p><%= attachment_image_tag post_image, :image, :fill, 200, 200 %></p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>