<div class="container">
  <%= render 'homes/search', menber:@menber, post:@post, tag:@tag %>  <%#  部分テンプレート  render 'homes/search'～  homes/_search  _は勝手に消してくれる%>
  <h3 class="title">最新の投稿</h3>
  <div class="row">

    <% @posts.each do |post| %>
      <% if post.post_images.exists? %>
      <%# exists? 存在するかどうかを真偽値で返すメソッド(存在すればtrueを存在しなければfalse)%>
        <% post_image = post.post_images.first %>   <%# .first ~％の一番最初のものを持ってくる%>
         <div class="col-3 flex-nowrap"> <%# flex-nowrap =>  折返し%>
          <%= link_to post_path(post), class: 'list-content' do %>
          <%# post_path(post)=> post/showに飛ぶ場合はアソシエーションでこれで飛べる %>
          <%# 画像を表示したい場合post_path(post_image)=> ルーティングを駆られた場合は　post_image_pathと%>
            <p class="image-space"><%= attachment_image_tag post_image, :image, :fill, 200, 200, fallback:'no_image.jpeg', size: "200x200"  %></p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>