/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "bootstrap";

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

.search{
  margin-bottom: 6vh;
}

.guidance{
  text-align: center;
  font-size: 30px;
  color: #008000;
  padding: 40px;
}

.comment{
  width: 700px;
  height: auto;
  backgroundColor: #FF9966;
  font-size: 20px;
}

.image-space{
  padding: 10px;
}

.transition{
  margin-left: 30px;
  font-Size: 20px;
}

.top_tag{
  padding: 5px;
  color-font: #FFABCE;
}

.error_messages{
  padding-left: 100px;
}

.before_sign{
  padding: 50px;
  font-size: 20px;
}

.title{
  padding-left: 70px;
}

.forgot_password{
  padding: 30px;
}

